/******************************************************************************
 * @author eric
 * @Description
 * 新增：icon-add
 * 修改：icon-edit
 * 移除：icon-remove
 * 保存：icon-save
 * 取消：icon-cancel
 * OK：icon-ok
 * NO：icon-no
 * 剪切：icon-cut
 * 刷新/重新加载：icon-reload
 * 查询：icon-search
 * 打印：icon-print
 * 帮助：icon-help
 * 撤消：icon-undo
 * 重做：icon-redo
 * 黑点：icon-back
 * 求和：icon-sum
 * 提示：icon-tip
 * mini新增：icon-mini-add
 * mini修改：icon-mini-edit
 * mini刷新：icon-mini-refresh
 * 导出EXCEL：icon-excel
 * 查询2：icon-query
 * 解锁：icon-unlock
 * 设置：icon-reset
 * 代码：icon-page_code
 * 通知公告：icon-blog
 * 附件：icon-attach
 * 未读：icon-new
 * 未读动画：icon-new-gif
 * 信封：icon-envelope
 * 停止：icon-stop
 *
 *
 *****************************************************************************/


.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}

.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}
.icon-excel{
	background:url('icons/excel.png') no-repeat;
}
.icon-query{
	background:url('icons/intro.png') no-repeat;
}
.icon-road{
	background:url('icons/road.png') no-repeat;
}
.icon-crossing{
	background:url('icons/crossing.png') no-repeat;
}
.icon-roadseg{
	background:url('icons/roadseg.png') no-repeat;
}
.icon-epolice{
	background:url('icons/epolice.png') no-repeat;
}
.icon-videomonitor{
	background:url('icons/video.png') no-repeat;
}
.icon-bayonet{
	background:url('icons/kakou.png') no-repeat;
}
.icon-signal{
	background:url('icons/signal.png') no-repeat;
}
.icon-guidance{
	background:url('icons/guidance.png') no-repeat;
}
.icon-signage{
	background:url('icons/signage.png') no-repeat;
}


/* 解锁 */
.icon-unlock{
	background:url('icons/lock_unlock.png') no-repeat;
}
.icon-reset{
	background:url('icons/set.png') no-repeat;
}

.icon-page_code{
	background:url('icons/page_code.png') no-repeat;
}

.icon-map{
	background:url('icons/map.png') no-repeat;
}

.icon-blog{
	background:url('icons/blog.png') no-repeat;
}
.icon-attach{
	background:url('icons/attach_2.png') no-repeat;
}
.icon-new{
	background:url('icons/new.png') no-repeat;
}
.icon-new-gif{
	background:url('icons/new.gif') no-repeat;
}
.icon-envelope{
	background:url('icons/envelope.png') no-repeat;
}
.icon-stop{
	background:url('icons/stop.png') no-repeat;
}

